.home {
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
}
.aboutmeheading:hover {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(3, 3, 3), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(150, 39, 39)
}

.aboutcol {
    margin-top:120px;
}

.dwld {
    background-color: rgb(242, 97, 6);
    color: white;
}
.dwld:hover{
    border: 1px solid;
}

.skills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
   
}
.sections{
    object-fit: cover;
    height: 13rem;
    margin: 0.2rem;

}


.name {
    font-size: 45px;
}

.icon {
    width: 42px;
    height: 41px;
 border: 2px solid;
 border-radius: 3px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    background-color: white;
}

.brand {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.icon:hover {
    background-image: linear-gradient(to bottom right, rgb(242, 97, 6), rgb(255, 115, 0), rgb(255, 255, 255));
}

.brand:hover {
    color: rgb(255, 255, 255);
    animation: shake 0.90s;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

html {
    scroll-behavior: smooth;
}

.up-arrow {
    float: right;
    margin-top: -60px;
    margin-right: 20px;
}

::-webkit-scrollbar {
    height: 0px;
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(242, 97, 6);
}




.containerr {
    position: relative;

}

.ni-img {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

.containerr:hover .image {
    opacity: 0.3;
}

.containerr:hover .middle {
    opacity: 1;
}

.text p {
    font-size: 25px;
}

.text1 p {
    font-size: 25px;
}

.text {
    opacity: .7;
    height: 330px;
    width: 416px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 120px 32px;
    cursor: pointer;

}

.text1 {
    opacity: .7;
    height: 330px;
    width: 416px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 120px 32px;
    cursor: pointer;

}

.sections:hover {
    background-color: transparent;

}
.contact{
    display: flex;
    justify-content: space-around;
    
}

.movingelemrnt {
    overflow-x: hidden !important;
}

.contactinput{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90w;
    max-width: 60rem;
}
.namee, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    color: black;
}
.msg{
    height: 25vh;
}

.ContainerHome{
    padding: 90px;
}
.vl {
    border-left: 6px solid rgb(0, 0, 0);
    height: 280px;
  }
.vl1 {
    border-left: 6px solid rgb(0, 0, 0);
    height: 230px;
  }

@media screen and (max-width: 768px) {

    .aboutcol {
        margin-top: 0px;
    }

 

    .sections {
        margin-bottom: 25px;

    }

    .name {
        font-size: 29px;
    }

    .containerr {
        margin-top: 10px;
    }

    .brand {
        color: white;
    }

    .icon {
        background-color: transparent;
    }

    .up-arrow {
        float: right;
        margin-top: -120px;
        margin-right: 20px;

    }

    .sections:hover {
        background-color: transparent;

    }

    .containerr {
        position: relative;

    }

    .ni-img {
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

    }

    .containerr:hover .image {
        opacity: 0.3;
    }

    .containerr:hover .middle {
        opacity: 1;
    }

    .text {
        height: 0px;
        width: 366px;
        padding: 147px 32px;
    }

    .text1 {
        height: 136px;
        width: 171px;
        padding: 10px;
    }
    .text1 p {
        font-size: 15px;
    }
    .contact{
        display: block;
        align-items: center;
    }
    .copyright{
        text-align: center;
    }
    .marquee.movingelemrnt {
        overflow-x: hidden !important;
    }
    .contactinput{
        width: 80%;
    }
    .ContainerHome{
        padding: 30px;
    }
    .ContainerHome1{
        padding: 30px;
    }
}