.home {
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
}

/* navbar css */
.ContainerHome {
    padding: 90px;
}

/* abou section css */


.aboutmeheading:hover {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(3, 3, 3), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(150, 39, 39)
}

.aboutcol {
    margin-top: 120px;
}

.dwld {
    background-color: rgb(242, 97, 6);
    color: white;
}

.dwld:hover {
    border: 1px solid;
}

/* skills section css */

.skills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;

}

.sections {
    object-fit: cover;
    height: 13rem;
    margin: 0.2rem;

}

.sections:hover {
    background-color: transparent;

}

.name {
    font-size: 45px;
}

/* icons hover effect and styling  eg: linkedin, arrow, message  */

.icon {
    width: 42px;
    height: 41px;
    border: 2px solid;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    background-color: white;
}

.brand {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.icon:hover {
    background-image: linear-gradient(to bottom right, rgb(242, 97, 6), rgb(255, 115, 0), rgb(255, 255, 255));
}

.brand:hover {
    color: rgb(255, 255, 255);
    animation: shake 0.90s;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

/* scollbar */

html {
    scroll-behavior: smooth;
}

.up-arrow {
    float: right;
    margin-top: -60px;
    margin-right: 20px;
}

::-webkit-scrollbar {
    height: 0px;
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(242, 97, 6);
}

/* projects images */

.containerr {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;

}

.containerr:hover .overlay {
    bottom: 0;
    height: 100%;
}

.projectimage {
    width: 100%;
    height: auto;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: start;
}

.textt {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: start;
}

.text1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 23%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: start;
}


/* end */



/* contact section css */
.contact {
    display: flex;
    justify-content: space-around;

}

.contactinput {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90w;
    max-width: 60rem;
}

.namee,
.email,
.msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    color: black;
}

.msg {
    height: 25vh;
}

/*readmore in about me section css*/

.vl {
    border-left: 6px solid rgb(0, 0, 0);
    height: 280px;
}

.vl1 {
    border-left: 6px solid rgb(0, 0, 0);
    height: 230px;
}

.modalrow {
    color: rgb(242, 97, 6);
}

/* media quries section */

@media screen and (max-width: 768px) {

    .aboutcol {
        margin-top: 0px;
    }



    .sections {
        margin-bottom: 25px;

    }

    .name {
        font-size: 29px;
    }

    .containerr {
        margin-top: 10px;
    }

    .brand {
        color: white;
    }

    .icon {
        background-color: transparent;
    }

    .up-arrow {
        float: right;
        margin-top: -120px;
        margin-right: 20px;

    }

    .sections:hover {
        background-color: transparent;

    }
    .overlay .text {
        font-size: 10px;
    }


    .textt {
        font-size: 20px;
    }

    .text1 {
        font-size: 5px;
        margin-left: 35px;
    }

    .contact {
        display: block;
        align-items: center;
    }

    .copyright {
        text-align: center;
    }

    .contactinput {
        width: 80%;
    }

    .ContainerHome {
        padding: 30px;
    }

    .ContainerHome1 {
        padding: 30px;
    }

    .vl {
        border-left: 6px solid rgb(0, 0, 0);
        height: 370px;
    }

    .vl1 {
        border-left: 6px solid rgb(0, 0, 0);
        height: 230px;
    }

    .modlrow {
        color: rgb(242, 97, 6);
        font-weight: bolder;
    }


}